@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* ===== Universal Settings ===== */

* {
    margin: 0;
}

body { 
    font-size: 1.25rem;
    font-family: Verdana, sans-serif;
    animation: fadeIn 1s;
    color: rgb(78, 78, 78);
}

/* ===== Set page to border-box sizing ===== */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ===== Navigation Bar ===== */

nav ul {
    font-size: 1.75rem;
    background-color: rgb(245, 247, 252);
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
    display: flex;
    list-style: none;
    padding: 1rem;
    padding-left: 20%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: gray;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

nav a:hover:not(.navmain a:hover) {
    background-color: rgb(224, 224, 224);
}

.navmain {
    font-weight: bold;
}

/* ===== Sidebar ====== */

aside {
    font-size: 1rem;
    /* border-right: solid;
    border-right-width: 1px;
    border-right-color: lightgray; */
}

aside img {
    width: 150px;
    height: 200px;
}

.sidebar {
    font-size: 1rem;
}

.sidebar ul {
    padding-left: 0rem;
    list-style-type: none;
    list-style-position: inside;
}

.sidebar li {
    padding-left: 1.5rem;
    background-position: 0 0;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
}

.sidebar li:nth-child(1) { background-image: url(../resources/location_icon.png); }
.sidebar li:nth-child(2) { background-image: url(../resources/email_icon.png); }
.sidebar li:nth-child(3) { background-image: url(../resources/linkedin_icon.png); }

.sidebar a {
    color: unset;
}


.sidebar a:not(:hover) {
    text-decoration: none;
}

/* ===== General Page Style ===== */

main {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

main > * {
    padding: 0.5rem;
}

h1 {
    color: rgb(0, 0, 87);
    font-weight: bold;
}

p {
    font-weight: normal;
}

section {
    width: 40rem;
    margin-left: 5rem;
}

section p + p { 
    margin-top: 1rem;
}
